.DS_Store
*.qcow2
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zsh_sessions/
zsh/.config/zsh/.zlogin
tmux/.config/tmux/plugins
gnupg/.gnupg/*
result
.direnv
!gnupg/.gnupg/gpg.conf
