! general settings

# include PYWAL_
*alpha: 0.90
*font:Jet Brains Mono Nerd Font:pixelsize=14:antialias=true:autohint=true
st.font:Jet Brains Mono Nerd Font:pixelsize=18:antialias=true:autohint=true



