! st settings
st.alpha: 0.95
st.borderpx: 5
st.font:JetBrains Mono:pixelsize=14:antialias=true:autohint=true

! dwm settings
*dwm.borderpx: 1
*dwm.font:JetBrains Mono:pixelsize=14:antialias=true:autohint=true
